<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--    <link href="../css/strona-wzorcowa.css" th:href="@{/css/strona-wzorcowa.css}" rel="stylesheet" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/strona-wzorcowa.css}"/>

    <!--    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato&display=swap}" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<div th:class="container-fluid">
    <!-- //panel górny- logo, wyszukiwarka, reklama, kontakt, koszyk, użytkownik, koszyk -->
    <div th:class="first-top-bar">
        <div th:class="'row' + ' shadow-sm'">
            <div th:class="'col'"><a href="#"><img th:class="logo" th:src="@{/images/logo-portfolio-project.png}" alt="logo"></a></div>
            <div th:class="'col'"><input th:class="search-input" type="search" placeholder="wyszukaj"></div>
            <div th:class="'col'"><a href="#"><img th:class="first-top-bar-image" th:src="@{/images/contact.png}" alt="contact"></a></div>
            <div th:class="'col'"><a href="#"><img th:class="first-top-bar-image" th:src="@{/images/user.png}" alt="account"></a></div>
            <div th:class="'col'"><a href="#"><img th:class="first-top-bar-image" th:src="@{/images/cart.png}" alt="cart"></a></div>
            <div sec:authorize="isAuthenticated()" th:class="'col'"><a href="@{/logout}"><img th:class="first-top-bar-image"  th:src="@{/images/logout.png}"  alt="logout"></a></div>
        </div>
    </div>
    <div th:class="second-top-bar-categories">
        <div th:class="'row' + ' shadow-sm'">
            <div th:class="col"><a href="@{/products/laptops">Laptopy</a></div>
            <div th:class="col"><a href="@{/products/procesors">Procesory</a></div>
            <div th:class="col"><a href="@{/products/disk">Dyski</a></div>
            <div th:class="col"><a href="@{/products/laptops">Karty Graficzne</a></div>
            <div th:class="col"><a href="@{/products/laptops">RAM</a></div>
        </div>
    </div>
    <h2>popraw === wszystkie produkty</h2> 

<div th:class="container">
    <div th:class="row">
<!--    <div th:each="products : ${allProducts}">-->
          <div th:class="col-4" th:each="products : ${allProducts}">
            <div th:class="'card' +  ' mb-4' + ' shadow-md'">
              <svg th:class="card-img-top" width="100%" height="225">
                  <image th:href="${products.imageUrl}"></image>            </svg>
              <div th:class="card-body">
                  <p th:class="card-text" th:text="'Cena: ' + ${products.price}"> 25zł</p>
                  <p th:class="card-text" th:text="'Nazwa: ' + ${products.name}">Lenovo ideapad 320</p>

                  <div th:class="'d-flex' + ' justify-content-between' + ' align-items-center'">
                  <div th:class="btn-group">
                    <button type="button" th:class="'btn' + ' btn-md' + ' btn-outline-secondary'">Do koszyka</button>
                    <button type="button" th:class="'btn' + ' btn-md' + ' btn-outline-secondary'">Szczegóły</button>

                  </div>
                </div>
              </div>
            </div>
<!--          </div>-->
    </div>
    </div>
</div>
</div>
    <!-- Footer -->
    <footer th:class="'page-footer' + ' fixed-bottom'">

        <!-- Copyright -->
        <div th:class="'footer-copyright' + ' text-center' + ' py-3'">
            <a th:href="@{https://www.linkedin.com/in/piotr-michalski-735891184/}">LinkedIn</a>
            <p>© 2020 Copyright: Piotr Michalski</p>
            <a th:href="@{https://github.com/Fucyd/PortfolioProject}">Github</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->


<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>


</body>
</html>






<!--<h3><a th:href="@{'/products/'}">Dodaj produkt</a> </h3>-->
<!--<div th:each="products:${allProducts}" th:id="all-products-container">-->
<!--    <div th:th:class="one-product-th:class">-->
<!--        <p th:text="${products.name}">Jabłko</p>-->
<!--        <p th:text="${products.price}">25zł</p>-->
<!--        <p th:text="${products.description}">Opakowanie 10kg jabłek prosto z polskich sadów.</p>-->
<!--        <img th:if="${!products.imageUrl.isEmpty()}" th:src="${products.imageUrl}" alt="obraz produktu imageUrlHosta">-->


<!--    </div>-->
<!--</div>-->


