<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/strona-wzorcowa.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<div class="container">

<!-- //panel górny- logo, wyszukiwarka, reklama, kontakt, koszyk, użytkownik, koszyk -->
<div class="top-bar">
    <div class="first-top-bar-logo"></div>
    <div class="first-top-bar-search"></div>
    <div class="first-top-bar-contact"></div>
    <div class="first-top-bar-cart"></div>
    <div class="first-top-bar-logout"></div>
</div>
<div class="second-top-bar-categories">
    <div class="second-top-bar-categories-laptops"><a href="@{/products/laptops">Laptopy</a></div>
    <div class="second-top-bar-categories-laptops"><a href="@{/products/laptops">Procesory</a></div>
    <div class="second-top-bar-categories-laptops"><a href="@{/products/laptops">Dyski</a></div>
    <div class="second-top-bar-categories-laptops"><a href="@{/products/laptops">Karty Graficzne</a></div>
    <div class="second-top-bar-categories-laptops"><a href="@{/products/laptops">RAM</a></div>
</div>


</div>

</body>
</html>